#breadcrumb {
    color: #fff;
    background: #333;
    .breadcrumbs {
        //margin-top: 20px;
        margin-bottom: 0;
        padding: 15px;
        list-style: none;
        li {
            margin-right: 5px;
            display: inline-block;
            a {
                color: #fff;
            }
        }
    }
}