table {
    &.companyTable {
        width: 70%;
        margin: auto;
        color: #fff;
        td {
            padding: 20px 50px;
            border: none;
            &.column-1 {
                border-right: 1px solid #eaeaea;
                vertical-align: middle;
            }
            &.column-2 {
            }
        }
    }
}

@media screen and (max-width:640px){

table {
    &.companyTable {
        width: 90%;
        td {
            width: 100%;
            padding: 20px 10px;
            display: block;
            &.column-1 {
                border-right: none;
                border-bottom: 1px solid #eaeaea;
            }
        }
    }
}

}