body.author,
body.category-blog,
body.category-column,
body.category-information {
    article {
        border-bottom: 1px solid $gray-lighter;
        position: relative;
        .entry-header {
            position: relative;
            .entry-thumbnail {
                height: 300px;
                overflow: hidden;
            }
            .entry-author {
                width: 100%;
                text-align: center;
                position: absolute;
                bottom: -27.5px;
                img {
                    padding: 3px;
                    background: #fff;
                    border: 2px solid $gray-lighter;
                    @include border-radius(50px);
                }
            }
        }
        .post-content.media {
            margin-top: 30px;
        }
        .entry-title {
            font-size: 23px;
            text-align: center;
        }
        .entry-meta {
            text-align: center;
            a {
                color: $gray-dark;
            }
            .publish-date {
                text-align: left;
                .entry-date {
                    padding: 0;
                }
            }
        }
        .more-box {
            display: none;
        }
    }
}

@media screen and (max-width:640px){

body.author,
body.category-information {
    article {
        margin-bottom: 30px;
        border-bottom: 1px solid $gray-lighter;
        position: relative;
        .entry-header {
            position: relative;
            .entry-thumbnail {
                height: auto;
            }
            .entry-author {
                width: 100%;
                text-align: center;
                position: absolute;
                top: initial;
                bottom: -25px;
                img {
                    width: 50px;
                    padding: 3px;
                    background: #fff;
                    @include border-radius(50px);
                }
            }
        }
        .post-content.media {
            margin-top: 30px;
        }
        .entry-title {
            font-size: 18px;
            line-height: 1.5;
            text-align: center;
        }
        .entry-meta {
            text-align: center;
            a {
                color: $gray-dark;
            }
            .publish-date {
                text-align: left;
                .entry-date {
                    padding: 0;
                }
            }
        }
        .more-box {
            display: none;
        }
    }
}

}