body.home {
    .page-content {
        margin-top: 80px;
    }
    section {
        .title-area {
            .title {
                margin: 0;
            }
            .subtitle {
                width: 850px;
                margin-top: -50px;
                margin-left: 70px;
                font-size: 21px;
                font-weight: 500;
                @include rotate(-3deg);
            }
        }
    }
}
@media screen and (max-width:640px){

body.home {
    .page-content {
        margin-top: 30px;
    }
    section {
        .title-area {
            .subtitle {
                width: 100%;
                margin: 0;
                font-size: 16px;
                font-weight: normal;
                @include rotate(0);
            }
        }
    }
}

}

#reserved {
    padding: 30px 0;
    color: #fff;
    border: none;
    background: url(../images/header-image-background.png);
    h2 {
        margin: 0 0 10px;
        font-size: 32px;
        font-weight: bold;
    }
    p {
        margin: 0;
    }
    .button {
        margin: 20px 0;
    }
}

@media screen and (max-width:640px){

#reserved {
    h2 {
        font-size: 16px;
        line-height: 1.3;
        white-space: nowrap;
    }
    .button {
        padding: 10px;
        margin: 20px 0 0;
        font-size: 16px;
    }
}

}

#concept {
    ul {
        width: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 18px;
        color: #eaeaea;
        li {
            height: 252px;
            padding: 50px 0;
            background-image: url(../images/concept/concept-background.png);
            background-repeat: no-repeat;
            background-size: 252px;
            background-position: center;
            text-align: center;
        }
    }
}
@media screen and (max-width:640px){

#concept {
    ul {
        li {
            height: 180px;
            padding: 30px 10px;
            background-size: 90%;
            h3 {
                margin: 0 0 10px;
                img {
                    width: 80%;
                }
            }
            p {
                margin: 0;
                font-size: 16px;
            }
        }
    }
}

}

#toha {
    background-image: url(../images/toha/the-background-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .page-content {
        text-align: center;
        p {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 500;
            line-height: 1.8;
        }
    }
}
@media screen and (max-width:640px){

#toha {
    .page-content {
        p {
            font-size: 14px;
        }
    }
}

}

#access {
    .studio {
        .studio-header {
            width: 100%;
            height: auto;
        }
        .studio-content {
            height: 90px;
            padding: 20px 0 10px;
            background: #fff;
            text-align: center;
            p {
                margin: 0;
            }
            a {
                font-size: 21px;
                color: $gray-base;
                small {
                    display: block;
                }
            }
        }
        .studio-footer {
            padding-bottom: 20px;
            background: #fff;
            text-align: center;
            a {
                margin-bottom: 15px;
                font-size: 21px;
                font-weight: 500;
                color: $gray-base;
                display: block;
            }
            i {
                width: 45px;
                height: 45px;
                padding: 8px;
                margin-right: 15px;
                color: #fff;
                background: $orange;
                vertical-align: middle;
                @include border-radius(30px);
                &.fa-2x {
                    font-size: 1.5em;
                }
            }
            .button {
                width: 90%;
                padding: 10px;
                margin: auto;
                font-size: 18px;
                font-weight: normal;
                color: #fff;
            }
        }
    }
}

@media screen and (max-width:640px){

#access {
    .studio {
        margin-bottom: 30px;
        .studio-content {
            height: 80px;
            a {
                font-size: 16px;
            }
        }
    }
}

}

#information {
    border-top: none;
    .information-image {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
    }
}

#news {
    .entry-header {
        //margin-bottom: 15px;
    }
    h3.entry-title {
        font-size: 18px;
        line-height: 1.4;
    }
}
@media screen and (max-width:640px){

#news {
    h3.entry-title {
        margin-bottom: 30px;
    }
}

}

#ad-front {
    background: #f5f5f5;
    img {
        margin-bottom: 15px;
    }
    .button {
        margin-top: 20px;
    }
}

#about {
    .about-image {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 20px;
        border-top: 1px solid $gray-lighter;
        border-bottom: 1px solid $gray-lighter;
    }
    h3 {
        font-size: 24px;
        line-height: 1.5;
    }
}

@media screen and (max-width:640px){
    
    #about {
        h3 {
            font-size: 18px;
        }
    }
    
}