body {
    &.single {
        article {
            h2 {
                //font-size: 28px;
                line-height: 1.5;
            }
            header {
                .entry-thumbnail {
                    margin-bottom: 20px;
                    img {
                        width: 100%;
                    }
                }
                .entry-title {
                    font-size: 32px;
                    line-height: 1.5;
                }
            }
            .entry-content {
                overflow: hidden;
                dl {
                    padding: 15px;
                    border: 1px solid $gray-light;
                    dt {
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px dotted $gray-light;
                    }
                    dd {
                        line-height: 1.5;
                    }
                }
                .class-contact {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-top: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    overflow: hidden;
                }
            }
            .entry-detail {
                ul {
                    padding: 0 1.5em;
                }
                dl {
                    width: 100%;
                    dt {
                        padding: 10px 15px;
                        border-bottom: 1px solid $gray-lighter;
                    }
                    dd {
                        padding: 15px;
                        white-space: pre-line;
                    }
                }
            }
            @media screen and (max-width:640px){
                h2 {
                    font-size: 21px;
                    line-height: 1.5;
                    &.entry-h2 {
                        padding: 10px 15px;
                        margin-bottom: 20px;
                        font-size: 18px;
                        color: #fff;
                        background: $gray-light;
                    }
                }
                header {
                    .entry-thumbnail {
                        margin-bottom: 20px;
                        img {
                            width: 100%;
                        }
                    }
                    .entry-title {
                        font-size: 23px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:640px){

body {
    &.single-class {
        #main {
            margin-top: 0;
        }
    }
    &.single {
        article {
            header {
                .entry-thumbnail {
                    margin-left: -15px;
                    margin-right: -15px;
                }
            }
        }
    }
}

}