/* anchor */
#navigation .navbar-nav li.current-menu-item a,
#navigation .navbar-nav > li.current-menu-parent > a,
.team-box ul.social li a {
    color: #fff;
    background: #e95a24;
    &:hover {
        color: #fff;
        background: #e95a24;
    }
}

.team-box:hover {
	background: $preset;
}