// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "compass";

@import "pallete/pallete";

@import "preset";

* {
    ::-moz-selection {
        background: $orange;
        color: #fff;
    }
    ::selection {
        background: $orange;
        color: #fff;
    }
}

body {
    
}

*:focus {
    outline: none !important;
}

.suck-image {
    width: 100%;
    height: auto;
}

.mincho {
    font-family: Garamond , "Times New Roman" ,"ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

body.archive,
body.category {
    .subtitle {
        width: 100%;
        font-size: 34px;
        text-align: right;
        display: block;
    }
}
@media screen and (max-width:640px){
body.archive,
body.category {
    .subtitle {
        font-size: 23px;
    }
}

}
.page-wrapper{
	padding: 80px 0;
	border-top: 1px solid $gray-lighter;
}

.full-width {
    width: 100%;
    overflow: hidden;
    &#home {
        padding: 0;
    }
    img {
        width: 100%;
        height: auto;
    }
}

.container-fulid {
    .title-area {
        padding: 0 15px;
    }
}

.site-content {
    margin-bottom: 30px;
    overflow: hidden;
}

a {
    img {
        &:hover {
            @include opacity(0.85);
        }
    }
}

.clear {
    clear: both;
}

section {
    &.gray {
        background: #eaeaea;
        .subtitle {
            
        }
    }
    &.black {
        background: #333;
        .subtitle {
            color: #eaeaea;
        }
    }
}

.brandColor {
    color: $orange;
}

#carousel-main {
    .carousel-caption{
    	left: auto;
    	right: auto;
    	width: 100%;
    	text-align: left;
    	bottom: 30%;
    	z-index: 5;
    	h2 {
        	font-size: 72px;
        	font-weight: 100;
        	text-shadow:none;
        	color:#fff;
        }
        .lead {
        	margin-bottom: 50px;
        }
    }
    .carousel-inner { 
        >.item>img{
		    margin: 0 auto;
    	}
    }
    .carousel-control{
    	top: 50%;
    	width: 40px;
    	height: 40px;
    	background:rgba(0,0,0,.6);
    	opacity: .9;
    	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.2);
    	border-radius: 3px;
    	z-index: 6;
    	i {
        	line-height: 40px;
        }
    }
}

#instagram {
    ul {
        width: 100%;
        padding: 0;
        margin: 20px 0;
        list-style: none;
        display: inline-block;
        overflow: hidden;
        li {
            padding: 0;
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

#menu-secondary-menu {
    padding: 0;
    margin-bottom: 15px;
}

@media screen and (max-width:640px){

    body {
        font-size: 14px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .page-wrapper {
        padding: 30px 0;
    }

    .title-area .subtitle{
        display: inline;
        font-size: 14px;
        line-height: 1.5px;
        max-width: 900px
    }
    
    .breadcrumbs {
        display: none;
    }
    
    .home {
        h2 {
            font-size: floor(($font-size-base * 1.35));
        }
        .title-area { 
            .subtitle {
                display: inline-block;
                font-size: 14px;
                line-height: 1.5;
                max-width: 900px
            }
        }
    }
    .single {
        #content {
            header {
                .entry-thumbnail {
                    img {
                        margin: 0;
                    }
                }
            }
            .entry-content {
                img {
                    &.alignnone {
                        margin: 0;
                    }
                }
            }
        }
    }
    #instagram,
    #document,
    #access,
    #group {
        .title {
            font-size: 21px;
        }
    }
    
    footer {
        .footer-menu {
            border: 1px solid $gray-light;
            li {
                width: 100%;
                margin: 0;
                text-align: center;
                border-bottom: 1px solid $gray-light;
                overflow: hidden;
                &:before {
                    content: none;
                }
                &:last-child {
                    border-bottom: none;
                }
                a {
                    padding: 8px 0;
                    display: block;
                }
            }
        }
    }

}

@import "layout/layout";
@import "page/page";
@import "nav/nav";
@import "widget/widget";
@import "form/form";
@import "table/table";

// plugin
@import "plugin/plugin";

// parts
@import "parts/image";
@import "parts/tab";